.typing-animation {
    padding: 15px 10px;
    margin: 10px 0;
    background-color: rgb(2, 33, 76);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 4px;
  }
  

  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #000 }
  }
  
  .hover:h2-bg {
    animation: fill-background 3s forwards;
  }

  @keyframes fill-background {
    0% {
      background-color: transparent;
    }
    100% {
      background-color: blue;
    }
  }

  .highligter{
    background: left /0% 100% no-repeat linear-gradient(#062164, #f03d1d);
    transition: background-size 500ms;

  }
.highligter:hover{
  background: left /100% 100% no-repeat linear-gradient(#062164, #f03d1d);
}